{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}

<link rel="stylesheet" href="{{ 'custom.css' | asset_url }}">

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <ul
                id="HeaderMenu-MenuList-{{ forloop.index }}"
                class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
                role="list"
                tabindex="-1"
              >
                {%- for childlink in link.links -%}
                  <li>
                    {%- if childlink.links == blank -%}
                      {% assign collection_handle = childlink.url | split: '/' | last %}
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                        data-image="{{ collections[collection_handle].featured_image | img_url: '250x' }}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                    {%- else -%}
                      <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                        <summary
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                        >
                          <span>{{ childlink.title | escape }}</span>
                          {% render 'icon-caret' %}
                        </summary>
                        <ul
                          id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                          class="header__submenu list-menu motion-reduce"
                        >
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </details>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </details>
          </header-menu>
        {%- else -%}
          <div class="dropdown">
            <a
              id="HeaderMenu-{{ link.handle }}"
              href="{{ link.url }}"
              class="dropdown_action header__menu-item list-menu__item link link--text focus-inset"
              data-test-1
              {% if link.current %}
                aria-current="page"
              {% endif %}
            >
              <span
                {%- if link.current %}
                  class="header__active-menu-item"
                {% endif %}
              >
                {{- link.title | escape -}}
              </span>
            </a>

            {%- assign has_submenu = false -%}
            {%- assign collection_handle = link.url | split: '/' | last -%}
            {% assign current_collection_title = collections[collection_handle].title %}
            {% for menu in shop.metaobjects.collection_menus.values %}
              {% if menu.collection.value.title == current_collection_title %}
                {% assign currentCollectionData = menu %}
                {%- assign has_submenu = true -%}
              {% endif %}
            {% endfor %}

            {%- if currentCollectionData.sub_collections.value -%}
              <ul class="dropdown-menu">
                {% for sub in currentCollectionData.sub_collections.value %}
                  <li>
                    <a href="{{ sub.collection.value.url }}" class="dropdown_menu_wraps">
                      <div class="dropdown_menu_contents_image">
                        <img src="{{ sub.knife_image | img_url: '300x300' }}" alt="" class="{{ sub.title | downcase }}"
                        >
                      </div> 
                      <div class="dropdown_menu_wraps-title">{{ sub.title }}</div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {%- endif -%}
          </div>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
