{% comment %}
  Renders a product media modal. Also see 'product-media-gallery'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant

  Usage:
  {% render 'product-media-modal' %}
{% endcomment %}

<product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
  <div
    class="product-media-modal__dialog color-{{ section.settings.color_scheme }} gradient "
    role="dialog"
    aria-label="{{ 'products.modal.label' | t }}"
    aria-modal="true"
    tabindex="-1"
  >
    <button
      id="ModalClose-{{ section.id }}"
      type="button"
      class="product-media-modal__toggle"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {% render 'icon-close' %}
    </button>

    <div
      class=" color-{{ section.settings.color_scheme }} gradient product_media-container swiper-container"
      role="document"
      aria-label="{{ 'products.modal.label' | t }}"
      tabindex="0"
    >
      {%- liquid
        if product.selected_or_first_available_variant.featured_media != null
          assign media = product.selected_or_first_available_variant.featured_media
          render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants
        endif
      -%}
      <div class="swiper-wrapper">
        {%- for media in product.media -%}
          {%- liquid
            if section.settings.hide_variants and variant_images contains media.src or variant_images contains media.id
              assign variant_image = true
            else
              assign variant_image = false
            endif
  
            unless media.id == product.selected_or_first_available_variant.featured_media.id
              render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image
            endunless
          -%}
        {%- endfor -%}
      </div>
      <div class="product-modal_controller">
        <div class="swiper-button-prev">
          
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next">
          
        </div>
      </div>
    </div>
  </div>
</product-modal>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var productMediaSlider;
    
    function initializeSwiper() {
      if (window.innerWidth >= 768) {
        productMediaSlider = new Swiper('.product_media-container', {
          slidesPerView: 1,
          centeredSlides: false,
          calculateHeight: true,
          freeMode: false,
          loop: true,
          navigation: {
            nextEl: '.product_media-container .swiper-button-next',
            prevEl: '.product_media-container .swiper-button-prev',
          },
          pagination: {
            el: '.product_media-container .swiper-pagination',
            type: 'fraction',  // Fraction type shows the counter like 1/18
          },
        });
      } else if (productMediaSlider) {
        // Destroy the Swiper if it was initialized
        productMediaSlider.destroy(true, true);
        productMediaSlider = null;  // Reset the variable
      }
    }
  
    // Initialize or destroy Swiper on page load
    initializeSwiper();
  
    // Reinitialize or destroy Swiper on window resize
    window.addEventListener('resize', function() {
      initializeSwiper();
    });
  });

</script>
